.sub-category-parent-title {
  font-family: 'HelveticaLTWXX-Roman';
  font-size: 24px;
  color: $mid-gray;
  line-height: 29px;
  margin: 0px;
  text-decoration: none;
}

.sub-category-show-title {
  font-family: 'HelveticaLTWXX-Bold';
  font-size: 32px;
  color: $black;
  line-height: 38px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.sub-category-show-description {
  font-family: 'HelveticaLTWXX-Roman';
  font-size: 16px;
  color: $black;
  line-height: 19px;
}

.sub-category-show-subcatergory-link {
  font-family: 'HelveticaLTWXX-Bold';
  font-size: 16px;
  color: $black;
  line-height: 19px;
  text-decoration: underline;
}

.sub-category-updated-info {
  font-family: 'ArialMTPro-Regular';
  font-size: 12px;
  color: $black;
  line-height: 14px;
}
