$break-xs: 480px;
$break-sm: 768px;
$break-md: 992px;
$break-lg: 1200px;


@media screen and (max-width: $break-sm) {}

body, html {
margin: 0;
padding: 0;
min-width: fit-content;
height: 100%;
}

.global-content-wrap {
  padding: 0;
  margin: 0;
  // min-height: calc(100vh - 410.08px )
}


.wide-screen-resizer {
  width: 100%;
  @media screen and (min-width: 769px) {
    width: 60vw;
  }
}

.wide-screen-resizer-home{
  width: 100%;
  @media screen and (min-width: 1200px) {
    width: 90%;
  }
}

.wide-screen-resizer-home-new {
  width: 100%;
  display: none;
  @media screen and (min-width: 769px) {
    width: 90%;
    display: inline-block;
    padding: 30px;
  }
}

.wide-screen-resizer-devise{
  width: 100%;
  @media screen and (min-width: 769px) {
    width: 40vw;
  }
}

.wide-screen-resizer-about {
  width: 100%;
  @media screen and (min-width: 769px) {
    width: 40vw;
    min-width: 500px;
  }
}

.no-decoration {
  text-decoration: none;
}
