$break-xs: 480px;
$break-sm: 768px;
$break-md: 992px;
$break-lg: 1200px;


@media screen and (max-width: $break-sm) {}

body, html {
margin: 0;
padding: 0;
min-width: fit-content;
height: 100%;
}

.global-content-wrap {
  padding: 0;
  margin: 0;
  min-height: calc(100vh - 410.08px )
}
