.pdf-name-font {
  font-family: 'ArialMTPro-Regular';
  font-size: 18px;
  color: $black;
  line-height: 21px;
  text-decoration: underline;
}

.pdf-name-lao-font {
  font-family: 'NotoSansLao';
  font-size: 18px;
  color: $black;
  line-height: 29px;
  font-weight: normal;
  text-decoration: underline;
}

.nav-link-font {
  font-family: 'ArialMTPro-Regular';
  font-size: 14px;
  color: $black;
  line-height: 16px;
  text-decoration: underline;
}

.nav-link-lao-font {
  font-family: 'NotoSansLao';
  font-size: 16px;
  color: $black;
  line-height: 26px;
  font-weight: normal;
  text-decoration: underline;
}

.mini-info-font {
  font-family: 'ArialMTPro-Regular';
  font-size: 12px;
  color: $black;
  line-height: 14px;
}

.mini-info-lao-font {
  font-family: 'NotoSansLao';
  font-size: 12px;
  color: $black;
  line-height: 20px;
  font-weight: normal;
}

.jumbatron-font {
  font-family: 'HelveticaLTWXX-Bold';
  font-size: 64px;
  color: $black;
  line-height: 77px;
}

.main-title-font {
  font-family: 'HelveticaLTWXX-Bold';
  font-size: 32px;
  color: $black;
  line-height: 38px;
}

.main-title-lao-font {
  font-family: 'NotoSansLao';
  font-size: 32px;
  color: $black;
  line-height: 53px;
  font-weight: bold;
}

.cat-reference-font {
  font-family: 'HelveticaLTWXX-Roman';
  font-size: 24px;
  color: $mid-gray;
  line-height: 29px;
}

.mini-sub-font {
  font-family: 'HelveticaLTWXX-Bold';
  font-size: 24px;
  color: $black;
  line-height: 29px;
}

.body-text-font {
  font-family: 'HelveticaLTWXX-Roman';
  font-size: 16px;
  color: $black;
  line-height: 19px;
}

.body-text-lao-font {
  font-family: 'NotoSansLao';
  font-size: 16px;
  color: $black;
  line-height: 19px;
  font-weight: normal;
}

.underline-title-font {
  font-family: 'HelveticaLTWXX-Bold';
  font-size: 16px;
  color: $black;
  line-height: 19px;
}

.underline-title-lao-font {
  font-family: 'NotoSansLao';
  font-size: 16px;
  color: $black;
  line-height: 26px;
  font-weight: bold;
}

.title-font {
  font-family: 'HelveticaLTWXX-Bold';
  font-size: 16px;
  color: $black;
  line-height: 19px;
}

.title-lao-font {
  font-family: 'NotoSansLao';
  font-size: 16px;
  color: $black;
  line-height: 26px;
  font-weight: bold;
}
