// Specific CSS for your home-page
.home-page-title {
  font-family: 'HelveticaLTWXX-Bold';
  font-size: 32px;
  color: $black;
  line-height: 38px;
  margin-top: 0px;
  margin-bottom: 15px;
  @media screen and (min-width: 769px) {
    display: none;
  }
}

.home-page-body-container {
  padding: 20px;
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 405px);
}

.home-page-body-container-home {
  padding: 20px;
  height: auto;
  @media screen and (min-width: 769px) {
    padding: 20px;
    box-sizing: border-box;
    justify-content: center;
    display: none;
  }
}

.quick-contain-fix {
  padding: 20px;
  height: auto;
  display: none;
  @media screen and (min-width: 769px) {
    padding: 20px;
    box-sizing: border-box;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
}





.home-page-welcome {
  font-family: 'HelveticaLTWXX-Roman';
  font-size: 16px;
  color: $black;
  line-height: 19px;
  margin-top: 0px;
  @media screen and (min-width: 769px) {
    display: none;
  }
}

.home-page-welcome-wide {
  display:none;
  @media screen and (min-width: 769px) {
    color: $white;
    text-align: center;
    display: inline;
    font-family: 'HelveticaLTWXX-Roman';
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 18px;
  }
}

.home-category-image-banner {
  width: 100%;
  min-height: calc(100vh - 468px);
  padding: 50px 0px;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: $break-sm) {
    display: none;
  }
}

.home-page-center-links {
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  @media screen and (min-width: 769px) {
    border: none;
    width: auto;
  }
}

.home-page-center-link {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  font-family: 'HelveticaLTWXX-Bold';
  font-size: 14px;
  color: $white;
  background-color: $main-blue;
  text-align: center;
  line-height: 35px;
  min-width: 213px;
  border: none;
  border-radius: 4px;
  @media screen and (min-width: 769px) {
    border: 1px solid $white;
    margin: 5px;
    border-radius: 4px;
  }

}

.home-page-center-list-item {
  text-align: center;
  margin-bottom: 10px;
}

.home-page-center-list-item:last-child {
  border-bottom: none;
  margin-bottom: 0px;
}

.center-list {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  @media screen and (min-width: 769px) {
    display: none;
  }
}

.login-access-hint {
  font-family: 'HelveticaLTWXX-Bold';
  font-size: 14px;
  color: $black;
  line-height: 19px;
  width: 245px;
  @media screen and (min-width: 769px) {
    color: $white;
    text-align: center;
  }
}

.hidden-home-page-center-link {
  display: block;
  padding: 12px 16px;
  text-decoration: none;
  font-family: 'HelveticaLTWXX-Bold';
  font-size: 14px;
  color: $white;
  background-color: $main-blue;
  text-align: center;
  line-height: 19px;
  border-radius: 4px;

  @media screen and (min-width: 769px) {
    outline: 1px solid $white;
    outline-offset: 0px;
    border-radius: 4px;
  }
}

.bottom-home-page-center-link {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  font-family: 'HelveticaLTWXX-Bold';
  font-size: 14px;
  color: $white;
  background-color: $main-blue;
  text-align: center;
  line-height: 35px;
  min-width: 213px;

}

.logged-in-message {
  font-family: 'ArialMTPro-Regular';
  font-size: 12px;
  color: $mid-gray;
  line-height: 14px;
  margin-top: 0px;
  @media screen and (min-width: 769px) {
    color: $black;
    display: none;
  }
}

.login-hint-wrapper {
  display: initial;
  width: auto;
  @media screen and (min-width: 769px) {
    display: none;
  }
}

.login-hint-wrapper-banner {
  display: none;
  width: auto;
  @media screen and (min-width: 769px) {
    display: flex;
    justify-content: center;
    width: 780px;
  }
}

.home-page-title-wide {
  display:none;
  @media screen and (min-width: 769px) {
    display: block;
    color: $white;
    font-family: 'HelveticaLTWXX-Bold';
    font-size: 32px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 0px;
  }

}
