// Specific CSS for your home-page
.home-page-title {
  font-family: 'HelveticaLTWXX-Bold';
  font-size: 32px;
  color: $black;
  line-height: 38px;
  margin-top: 0px;
  margin-bottom: 15px;
}

.home-page-body-container {
  padding: 20px;
  height: calc(100vh - 106px)
}

.home-page-welcome {
  font-family: 'HelveticaLTWXX-Roman';
  font-size: 16px;
  color: $black;
  line-height: 19px;
  margin-top: 0px;
}

.home-page-center-links {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  width: 245px;
  border: 1px solid $main-blue;
}

.home-page-center-link {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  text-decoration: none;
  font-family: 'HelveticaLTWXX-Bold';
  font-size: 14px;
  color: $white;
  background-color: $main-blue;
  text-align: center;
  line-height: 35px;

}

.home-page-center-list-item {
  text-align: center;
  border-bottom: 1px solid #555;
  margin-bottom: 10px;
}

.home-page-center-list-item:last-child {
  border-bottom: none;
  margin-bottom: 0px;
}

.center-list {
  width: 100%;
  display: flex;
  justify-content: center;
}

.login-access-hint {
  font-family: 'HelveticaLTWXX-Bold';
  font-size: 14px;
  color: $black;
  line-height: 19px;
  width: 245px;
}
