.navbase-show-title {
  font-family: 'HelveticaLTWXX-Bold';
  font-size: 32px;
  color: $black;
  line-height: 38px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.navbase-show-description {
  font-family: 'HelveticaLTWXX-Roman';
  font-size: 16px;
  color: $black;
  line-height: 19px;
}

.navbase-show-subcatergory-link {
  font-family: 'HelveticaLTWXX-Bold';
  font-size: 16px;
  color: $black;
  line-height: 19px;
  text-decoration: underline;
}

.nav-base-updated-info {
  font-family: 'ArialMTPro-Regular';
  font-size: 12px;
  color: $black;
  line-height: 14px;
}
