<% if notice %>
  <div class="alerted" role="alert">
    <%= notice  %>
  </div>
<% end %>
<% if alert %>
  <div class="alerted" role="alert">
    <p class="alerted"><%= alert  %></p>
  </div>
<% end %>
