
<div class="hidden-wrapper-home">
  <div class="center-list-hidden">
    <% @hidden_navlinks.each do |h| %>
      <%= link_to h.title.upcase,  secret_navbar_base_folder_path(h), class: "hidden-home-page-center-link"  %>
      <% h.secret_categories.each do |s| %>
        <div class="show-cat-box">
          <p class="navbase-show-subcatergory-link"><%= s.title %></p>
          <%= icon('fas', 'arrow-right') %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>


