.footer {
  background-color: $main-blue;
  overflow: auto;
  padding: 20px;
}

.login-footer-link {
  font-family: 'HelveticaLTWXX-Bold';
  font-size: 16px;
  color: $white;
  line-height: 35px;
  text-decoration: none;
  background-color: $green-blue;
  padding: 10px 16px;
  margin-top:20px;
  border-radius: 4px;
}

.login-footer-link:hover:not(.active) {
  background-color: #7fa3b3;
}


.footer-disclaimer {
  font-family: 'ArialMTPro-Regular';
  font-size: 12px;
  color: $white;
  line-height: 14px;
}

.useful-link {
  list-style-type: none;
  color: $white;
  font-family: 'HelveticaLTWXX-Bold';
  font-size: 14px;
  line-height: 19px;
  width: 245px;
  padding-left: 0px;
  text-decoration: none;
}

.fab {
  color: $bright-blue;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer-logo {
  display: block;
  width: 130px;
  position: relative;
  right: 10px;
}
