.side-bar-wrapper {
  background-color: $lighter-blue;
  height: 100%;
  position: fixed;
  z-index: 1000;
  right: 0;
  width: fit-content;
  top: 0;
transform: translateX(600px);
  transition: 0.5s;
  padding: 50px 20px;
  box-sizing: border-box;

  @media screen and (min-width: 769px) {

  }
}

.side-bar-wrapper.reveal {
  transform: translateX(0px);
  @media screen and (min-width: 769px) {

  }

}

.side-bar-topic-title {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'HelveticaLTWXX-Bold';
  font-size: 16px;
  color: $white;
  padding: 8px 8px 8px 8px;
  transition: 0.3s;
  position: relative;
}

.side-bar-topic-title:hover  {
  color: #f1f1f1;
}

.side-bar-category  {
  font-family: 'HelveticaLTWXX-Roman';
  font-size: 16px;
  color: $white;
  line-height: 25px;
  text-align: center;
  display: block;
  text-decoration: underline;
  padding: 8px 8px 8px 32px;
}

.side-bar-category:hover   {
  color: #f1f1f1;
}








.side-bar-wrapper  .closebtn {
  position: absolute;
  top: 5px;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: white;
  text-decoration: none;
  cursor: pointer;
  margin: 0;
}
