.sub-nav-home-text {
  font-family: 'ArialMTPro-Regular';
  font-size: 14px;
  color: $white;
  text-decoration: underline;
  margin-right: 10px
}

.sub-navbar {
  background-color: $lighter-blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  height: 53px;
  box-sizing: border-box;
  position: relative;
  z-index: 50;
}

.fas {
  color: $white;
  cursor: pointer;
}

.fa-greater-than {
  margin-right: 10px;
  font-size: 10px
}

.fa-less-than {
  margin-right: 10px;
  font-size: 10px
}


.subnav-safety-wrap {
  white-space: nowrap;
}
