.topnav {
  overflow: hidden;
  background-color: $lighter-blue;
  position: relative;
  padding: 0px;
  @media screen and (min-width: 769px) {
    width: fit-content;
    z-index: 100000;
    position: absolute;
    right: 0;

  }
}

#myLinks {
  margin: 10px;
}
/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;

}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color:  rgba(1,1,1,.05);

}



.alerted {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
  font-family: 'HelveticaLTWXX-Bold';
  font-size: 16px;
  color: $white;
  line-height: 35px;
  text-decoration: none;
  background-color: $green-blue;
  padding: 10px 16px;
  margin-top:20px;
  border-radius: 4px;
}
